@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23252c;
}

#root {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
}
